[workspace]
resolver = "2"
members = [
    "admin_interface/server",
    "database",
    "kira_remote_stream",
    "migration",
    "player",
    "user_interface",
    "debian",
    "spotifyd"
]

[profile.dev]
opt-level = 3

[profile.release]
lto = true
strip = "symbols"