[Unit]
Description=TinyGhettoBox user interface
Wants=local-fs.target
After=local-fs.target

[Service]
WorkingDirectory=/srv/tinyghettobox
ExecStart=xinit /srv/tinyghettobox/user_interface
Restart=always
RestartSec=20
Type=simple

[Install]
WantedBy=local-fs.target