[Unit]
Description=TinyGhettoBox admin interface
Wants=local-fs.target
After=local-fs.target

[Service]
Environment="PORT=80"
Environment="UI_PATH=/var/www/tgb_admin_interface_ui"
ExecStart=/usr/local/bin/tgb_admin_interface
Restart=always
RestartSec=12
Type=simple

[Install]
WantedBy=multi-user.target