[Unit]
Description=TinyGhettoBox user interface
Wants=local-fs.target
After=local-fs.target

[Service]
ExecStart=xinit /usr/local/bin/tgb_user_interface
Restart=always
RestartSec=12
Type=simple

[Install]
WantedBy=default.target