Source: tinyghettobox
Section: base
Priority: important
Maintainer: Thomas Schlage <t.schlage@example.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://example.com

Package: tinyghettobox
Binary: usr/local/bin/user_interface
Architecture: aarch64
Depends: libgtk-4-dev (>=4.8.0), libasound2-dev, libdbus-1-dev, libbsd-dev, librsvg2-dev
Description: User and admin interface for TinyGhettoBox
 The TinyGhettoBox is a small music box for kids, which can be carried around. This package provides the software for that box.
